# Logs
*.log
*.tmp
*.cache

# Payloads gerados
*.exe
*.dll
*.bin
*.ps1

# Dumps e capturas
*.pcap
*.pcapng

# Diretórios temporários
tmp/
temp/
output/
loot/
sessions/

# Arquivos do Metasploit
*.rc

# VirtualBox / VM
*.vdi
*.vmdk
*.ova
*.ovf

# WSL Temp
*.swp
*.swo

# Python / Misc
__pycache__/
*.pyc

# Backup
*.bak
*.old

# Sistemas
.DS_Store
Thumbs.db
